
<nav class="navigation clearfix">
  <div class="navigation__left"><a href="/" ng-show="navigation.btnBack" class="btn btn-default pull-left"><</a><a href="/items/" ng-show="navigation.addBtn" class="btn btn-default pull-left">Добавить</a>
    <div class="search form-inline pull-left">
      <div class="form-group">
        <label for="search"></label>
        <input placeholder="Поиск..." type="search" ng-model="search" class="form-inline form-control"/>
      </div>
    </div>
  </div>
  <div ng-show="navigation.addBtn" class="navigation__right right">
    <div ng-click="navigation.List()" class="navigation__view"><span aria-hidden="true" ng-class="{icon_active:navigation.listItemsType == ''}" class="glyphicon glyphicon-list"></span></div>
    <div ng-click="navigation.Grid()" class="navigation__view"><span aria-hidden="true" ng-class="{icon_active:navigation.listItemsType == 'tile'}" class="glyphicon glyphicon-th-large"></span></div>
  </div>
</nav>