extends ../_layouts/_layout

block title
    title Phonebook
block description
    meta(name='description' content='PhoneBook')

block content
    .wrapper
        .maincontent(ng-controller="phoneBookCtrl as phonebook")
            .container
                //include ../_common/_navigation
                .wrapper
                    include ../_pages/views/items
