extends ../_layouts/_layout

block title
    title Phonebook
block description
    meta(name='description' content='PhoneBook')

block content
    .wrapper
        .maincontent
            .container
                header
                .wrapper(ng-controller="MainCtrl")
                    section(class="col-md-8")
                        h1.result__title Phonebook
                        div(class="page")
                            include ../_common/_navigation
                        div(class="page" ng-view)