extends ../_layouts/_layout

block title
    title Phonebook
block description
    meta(name='description' content='PhoneBook')

block content
    .wrapper
        .container
            .container-fluid(ng-controller="MainCtrl" ng-cloak)
                    section(class="col-md-12")
                        h1.result__title {{header.title}}
                            span(class="badge" ng-show='navigation.addBtn') {{items.length}}
                        include ../_common/_navigation
                        .col-md-12(class="page" ng-view)